#sidebarContents {
    background-color: #f0f0f0;
    width: 220px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    height: 102.5%;
}

body {
    overflow: hidden;
}

input {
    width: 100%;
    padding: 4%;
    background-color: #fff;
    border: 2px solid #ddd;
}

#filterButtons {
    display: flex;
    justify-content: space-between;
}

.filterButton {
    width: 33.33333%;
    margin: auto;
    text-align: center;
    padding: 5%;
    border-radius: 0px;
    border: none;
    background-color: #111;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}

#filterTags {
    display: inline;
}

#filterTags input {
    width: 10%;
    vertical-align: middle;
    margin-top: 0px;
}

#filterTag {
    padding: 2%;
}

#closeSidebarButton {
    height: 102.5%;
    border: none;
    background-color: #eee;
    color: #111;
    font-weight: bold;
    font-size: large;
}

#closeSidebarButton:hover {
    background-color: #ddd;
}

#sidebar {
    height: 100%;
    display: inline-flex;
    margin-top: 3em;
    float: left;
}

#pageContainer{
    justify-content: space-between;
    display: flex;
    height: 100%;
}

#homeContent {
    width: 100%;
    margin-top: 2em;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
    overflow-y: scroll;
}

#homeChallenge {
    border-bottom: 2px solid #eee;
}

#homeChallenge button {
    width: 100%;
    background-color: #3694ff;
    border: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

#homeChallenge button:hover {
    background-color: #6db1ff;
}

#homeChallenge h2{
    margin-bottom: 1%;
}

#puzzleInfo {
    color: #999;
    font-size: small;
}

#homeContent::-webkit-scrollbar {
    width: 0.7em;
}
   
#homeContent::-webkit-scrollbar-track {
    background-color: darkgrey;
}
   
#homeContent::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

#interest {
    display: inline;
    padding: 4px;
    background-color: #eee;
    margin: 0.5%;
    white-space: nowrap;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-size: 0.85em;
}
