body {
    background-color: #f2f2f2;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* System font stack */
    overflow-y: scroll; /* Content can be compressed by scrollbar, so let's have one ALL THE TIME! */
    margin: 0;
}

.centered-text {
    text-align: center;
}