#profileArea {
    background-color: #fff;
    padding: 5%;
    display: flex;
}

#profilePicture {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 5%;
}

#profileInfo {
    width: 100%;
}

#profileUsername {

}

#profileBio {
    margin-bottom: 5%;
}

#profileInterests {
}

#interest {
    display: inline;
    padding: 1%;
    background-color: #eee;
    margin: 1%;
}