#profile {
    background-color: #fff;
    padding: 3%;
    display: flex;
}

#profilePicture {
    width: 256px;
    height: 256px;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#profileInfo {
    width: 100%;
    margin-left: 5%;
}

#profileUsername {

}

#profileBio {
    margin-bottom: 2%;
    font-size: large;
}

#profileInterests {
    line-height: 300%;
}

#interest {
    display: inline;
    padding: 4px;
    background-color: #eee;
    margin: 0.5%;
    white-space: nowrap;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-size: 0.85em;
}

#profileLevel {
    color: #999;
    margin-bottom: 6%;
}

#profileContent {
    background-color: #f0f0f0;
    width: 100%;
    padding: 3%;
}

#profilePuzzles {
    display: block;
}

#progressBarContainer {
    margin-top: 1%;
    margin-bottom: 5%;
    width: 100%;
    background-color: #ddd;
    height: 0.5em;
    border-radius: 10px;
}

#progressBarProgress {
    width: 50%;
    background-color: #3694ff;
    height: 0.5em;
    border-radius: 10px;
}

#followButton {
    margin: auto;
    width: 100%;
    background-color: #3694ff;
    border: none;
    padding: 4%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
}

#followButton:hover {
    background-color: #6db1ff;
}

#settingsButton {
    margin: auto;
    width: 100%;
    background-color: #3694ff;
    border: none;
    padding: 4%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    margin-top: 1.5em;
}

#settingsButton:hover {
    background-color: #6db1ff;
}

