#profileArea {
    background-color: #fff;
    padding: 3%;
    display: flex;
}

#profilePicture {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 5%;
}

#profileInfo {
    width: 100%;
}

#profileUsername {

}

#profileBio {
    margin-bottom: 5%;
}

#profileInterests {
    line-height: 300%;
}

#interest {
    display: inline;
    padding: 4px;
    background-color: #eee;
    margin: 0.5%;
    white-space: nowrap;
    border-radius: 4px;
    border: 2px solid #ddd ;
}

#profileLevel {
    color: #999;
}