#editorArea {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#leftPane {
    flex-basis: 22%;
    
    background-color: #ffffff;
    padding: 2em;
}

#rightPane {
    flex-basis: 77%;

    display: flex;
    flex-direction: column;
}

#topEditor {
    flex-basis: 66.66%;
    overflow: auto;
}

#bottomOutput {
    flex-basis: 33.33%;

    background-color: #000000;
    color: #ffffff;
}

#selector {
    display: inline-block;
    width: 100%;
    background-color: #333333;
}

.CodeMirror {
    width: 100%;
    height: inherit !important;
}

#runButton {
    background-color: #ff0000;
}
#runButton:hover {
    color: #ffffff;
}