#editorArea {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#leftPane {
    flex-basis: 22%;
    
    background-color: #ffffff;
    padding: 2em;
}

#rightPane {
    flex-basis: 77%;

    display: flex;
    flex-direction: column;
}

#topEditorOuter {
    flex-basis: 60%;
}

#topEditor {
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

#bottomOutput {
    flex-basis: 40%;
    overflow: hidden;
    
    background-color: #000000;
    color: #ffffff;
}

#bottomInner {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#tabResults, #tabConsole {
    min-height: min-content;
}

#selector {
    display: inline-block;
    width: 100%;
    background-color: #333333;
}

.CodeMirror {
    width: 100%;
    height: inherit !important;
}

#runButton {
    background-color: #ff0000;
}
#runButton:hover {
    color: #ffffff;
}

table, td {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    margin: 0.3em;
}

td {
    padding: 12px;
}