#content {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    margin-top: 3.0em;
    height: 100%;
}

#sidebar {
    width: 250px;
    max-height: 100%;
    background-color: #f0f0f0;
    padding: 1.0em;
}

#closeButton {
    width: 50px;
}

input {
    width: 100%;
    padding: 4%;
    background-color: #fff;
    border: 2px solid #ddd;
}

#filterButtons {
    display: flex;
    justify-content: space-between;
}

.filterButton {
    width: 33.33333%;
    margin: auto;
    text-align: center;
    padding: 5%;
    border-radius: 0px;
    border: none;
    background-color: #111;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}

#filterTags {
    display: inline;
}

#filterTags input {
    width: 10%;
    vertical-align: middle;
    margin-top: 0px;
}

#filterTag {
    padding: 2%;
}

#closeSidebarButton {
    height: 100%;
    border: none;
    background-color: #eee;
    color: #111;
    font-weight: bold;
    font-size: large;
}

#closeSidebarButton:hover {
    background-color: #ddd;
}

#homeContent {
    display: inline-flexbox;
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

    border: solid 3px red;
}
