#sidebarContents {
    background-color: #f0f0f0;
    width: 250px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    height: 102.5%;
}

input {
    width: 100%;
    padding: 4%;
    background-color: #fff;
    border: 2px solid #ddd;
}

#filterButtons {
    display: flex;
    justify-content: space-between;
}

.filterButton {
    width: 33.33333%;
    margin: auto;
    text-align: center;
    padding: 5%;
    border-radius: 0px;
    border: none;
    background-color: #111;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}

#filterTags {
    display: inline;
}

#filterTags input {
    width: 10%;
    vertical-align: middle;
    margin-top: 0px;
}

#filterTag {
    padding: 2%;
}

#closeSidebarButton {
    height: 102.5%;
    border: none;
    background-color: #eee;
    color: #111;
    font-weight: bold;
    font-size: large;
}

#closeSidebarButton:hover {
    background-color: #ddd;
}

#sidebar {
    height: 100%;
    display: inline-flex;
    width: 17%;
    margin-top: 3em;
    float: left;
}

#pageContainer{
    justify-content: space-between;
    display: flex;
    height: 100%;
}

#homeContent {
    display: inline-flexbox;
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: ;
    border: solid 3px red;
}
