body, html {
    height: 100%;
    margin: 0;

    /* From https://github.com/necolas/normalize.css/issues/665 */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    overflow-x: hidden;
}

/* global fixes */
button:hover {
    cursor: pointer;
}

/* site styles */

#content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    background-color: #3694ff;
    padding-left: 1.0em;
}

.headerButton {

    background-color: inherit;
    color: #ffffff;
    float: left;
    
    /* Get rid of default styles */
    border: none;
    outline: none;
    padding: 0.8em 0.8em;
    font-size: 12pt;
    font-weight: bold;
    font-family: inherit;

    transition: 0.1s;

}
.headerButton:hover {
    color: #bbbbbb;
}

#header img {
    display: block;
    width: 2.0em;
    padding: 8px;
    image-rendering: crisp-edges;
    float: left;
}

.textCenter {
    text-align: center;
}