#pageContainer {
    margin: auto;
    width: 30%;
}

#profilePicture {
    text-align: center;
    width: 256px;
    height: 256px;
    margin: auto;
    border-radius: 128px;
}

#usernameContainer {
    text-align: left;
}

#passwordContainer {
    text-align: left;
}

#pageContainer input[type=text], input[type=password] {
    
    width: 100%;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.8em;

    font-size: 1.0em;
    box-shadow: inset 0 1px 3px #dddddd;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#editPasswordInput {
    width: 80%;
}

#showPasswordButton {
    margin: 0px;
    background-color: #3694ff;
    border: none;
    padding: 0.8em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 19%;
    border-radius: 5px;
}

#showPasswordButton:hover {
    background-color: #6db1ff;
}

#saveChangesButton {
    width: 100%;
    background-color: #3694ff;
    border: none;
    padding: 2em;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    margin-top: 1.5em;
}

#saveChangesButton:hover {
    background-color: #6db1ff;
}